  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  h1{
      text-align: center;
      Color: blue;
      font-size: 100px;
    
  }

  .player-turn{
    position: absolute;
        top: 13vh;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        cursor: default;
        background-color: #4370F1;
        border-radius: 5px;
        border: none;
        color: white;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 30px;
        text-transform: uppercase;
  }

  .game{
      position: relative;
      top: 4rem;
      left: 50%;
      transform: translate(-50%);
      width: 650px;
      height: 600px;
      background: yellow;
      border: 12px solid blue;
      border-radius: 8%;
      box-shadow: 15px 15px rgb(131, 128, 128);
      padding: 1.5rem;
    }

    .slot{
        width: 90px;
        height: 90px;
        background: white;
        border: 5px solid darkkhaki;
        border-radius: 50%;
    }

    .instructions{
      position: absolute;
      top: 85vh;
      left: 40%;
      transform: translate(-50%);
      text-align: center;
      cursor: pointer;
      background-color: #4370F1;
      border-radius: 5px;
      border: none;
      color: white;
      display: block;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 30px;
      text-transform: uppercase;
  }

    
  
    .popup .overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.7);
      z-index: 1;
      display:none;
    }

    .popup .content {
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%) scale(0);
      background:yellow;
      width:450px;
      height: 450px;
      z-index: 2;
      text-align: center;
      padding:20px;
      box-sizing: border-box;
      border-radius: 10%;
    }

    h3 {
      color:blue;
      font-size: xx-large;
    }

    .popup .close-btn {
      cursor: pointer;
      position:absolute;
      right:20px;
      top:20px;
      width:30px;
      height:30px;
      background:blue;
      color:white;
      font-size:25px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
    }

    .popup.active .overlay {
      display: block;
    }

    .popup.active .content {
      transition:all 300ms ease-in-out;
      transform:translate(-50%, -50%) scale(1);
    }

    
    .reset{
        position: absolute;
        top: 85vh;
        left: 60%;
        transform: translate(-50%);
        text-align: center;
        cursor: pointer;
        background-color: #4370F1;
        border-radius: 5px;
        border: none;
        color: white;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 30px;
        text-transform: uppercase;
    }
    .reset:hover {
        background-color: #1D50F1;
      }
      
      .reset:active {
        background-color: #4d7ef1;
      
      }

      
    